In [288]:
import datetime

import numpy as np
import pandas
import pandas as pd
import matplotlib.pyplot as plt

def date_parser(string_list):
    return datetime.datetime.strptime(string_list,"%Y/%m/%d %H:%M:%S.%f")

df = pd.read_csv(
    filepath_or_buffer='/home/q84fh/Projekty/CuValleyHack/Zadanie 1 Analiza danych Maszyn SMG/KLDSMG_LK3___045L_20190501_13-14.csv',
    sep='|',
    index_col=False,
    skiprows=3,
    parse_dates={"timestamp": [2,3]},
    date_parser=date_parser,
    names=['metric','smth','s','date','time','value','quality']

)
df = df[df.quality == 192]

df['machineid'] = df["metric"].str.extract(r'^(.*\d{3}L)')
df['unit'] = df["metric"].str.extract(r'A(.{3})$')
df['unit'] = df['unit'].str.replace('__C','°C')
df['metric'] = df['metric'].str.extract(r'^.*\d{3}L([A-Z]*)(?:___|$|_D)')
df = df[['timestamp','machineid','metric','value','unit','quality']]

df

,timestamp,machineid,metric,value,unit,quality
0,2019-05-01 13:00:00,KLDSMG_LK3___045L,VERSION,3.9,NaN,192
1,2019-05-01 13:00:00,KLDSMG_LK3___045L,PRODUCENT,MTSILESIA,NaN,192
2,2019-05-01 13:00:00,KLDSMG_LK3___045L,MACADDRESS,4c:5e:0c:13:34:0f,NaN,192
3,2019-05-01 13:00:00,KLDSMG_LK3___045L,ENGRPM,1185,rpm,192
4,2019-05-01 13:00:00,KLDSMG_LK3___045L,ENGCOOLT,67,°C,192
...,...,...,...,...,...,...
31442,2019-05-01 13:59:59,KLDSMG_LK3___045L,SELGEAR,2,_/_,192
31443,2019-05-01 13:59:59,KLDSMG_LK3___045L,SPEED,7,kmh,192
31444,2019-05-01 13:59:59,KLDSMG_LK3___045L,SWITCHMOVE,0,NaN,192
31445,2019-05-01 13:59:59,KLDSMG_LK3___045L,BREAKP,11600,kPa,192
31446,2019-05-01 13:59:59,KLDSMG_LK3___045L,HYDOILP,8.21,MPa,192